.animate-in {
    animation: fade-slide 1.5s forwards;
}
.course-feature {
    background-color: aquamarine;
}
.title,
.course-feature {
    opacity: 0;
}
.start-over button {
    opacity: 0;
}
@keyframes fade-slide {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
